<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href='/css/main.css' media='screen' title='no title' charset='utf-8'>
		<link rel="stylesheet" href='/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'/>
		<link rel="stylesheet" href='/bootstrap-slider/dist/css/bootstrap-slider.min.css'/>
		<link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3sBJxfVvWi7lTho6zvsaLm_-0zhCdDCI"></script> -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src='/moment/min/moment-with-locales.min.js'></script>
		<script type="text/javascript" src='/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'></script>
		<script type="text/javascript" src='/bootstrap-slider/dist/bootstrap-slider.min.js'></script>
		<script type="text/javascript" src="/js/jquery.dateFormat.min.js"></script>
		<script type="text/javascript" src="/js/jquery.geolocation.min.js"></script>
		<script type="text/javascript" src="/js/gmaps.min.js"></script>
	<body class="body {{bodyPage}}">
		{{#if isNotHome}}
			{{> nav}}
		{{/if}}
		<video autoplay loop id="bgvid">
			<source src="/img/video-fond-site.mp4" type="video/mp4">
		</video>
		{{#if isNotHome}}
			<div class="wrapper">
				{{{body}}}				
			</div>
		{{else}}
			{{{body}}}
		{{/if}}
		{{> footer}}
	</body>
</html>
