extends layout/layout

block content
  .container-fluid.matcha-profile
    .profile-header
      .header-picture(style="background-image : url('" + user.photos.cover + "');")
        span#btn-cover.btn.btn-warning.btn-sm.btn-file
          span.glyphicon.glyphicon-picture(aria-hidden='true')
          |   Change cover 
          input(type='file')

  .profile-picture
    #profile-pic.profile.img-circle(style="background-image : url('" + user.photos.profile + "');")
  .main-infos
    h2#first-last
      span#user-first #{user.info.firstname}
      span#user-last  #{user.info.lastname}
      button#edit-first-last.btn.btn-warning.btn-xs(type='button')
        span.glyphicon.glyphicon-pencil(aria-hidden='true')
        |  Edit
    form#form-first-last.hidden
      .input-group.input-group-sm
        input#first-input.form-control.form-dual(type='text', value=user.info.firstname, placeholder='First Name')
        input#last-input.form-control.form-dual(type='text', value=user.info.lastname, placeholder='Last Name')
        span.input-group-btn
          button#change-first-last.btn.btn-warning(type='button') Change
      // /input-group
    h5#mail.text-muted
      span.glyphicon.glyphicon-envelope(aria-hidden='true')
      span#user-mail #{user.account.mail}
      button#edit-mail.btn.btn-warning.btn-xs(type='button')
        span.glyphicon.glyphicon-pencil(aria-hidden='true')
        |  Edit
    form#form-mail.hidden
      .input-group.input-group-sm
        input#mail-input.form-control(type='text', value=user.account.mail, placeholder='Mail')
        span.input-group-btn
          button#change-mail.btn.btn-warning(type='button') Change
      // /input-group

    ul.nav.nav-tabs.menu-profile
      li.active(role='presentation')
        a(href='#About') About
      li(role='presentation')
        a(href='#Photos') Photos
      li(role='presentation')
        a(href='#Reports') Reported users
  
  #tab-about.row.profile-timeline.tab-menu
    .col-md-5.about-me
      .btn-group.actions(role='group', aria-label='...')
        button.btn.btn-default.disabled(type='button')
          span.glyphicon.glyphicon-heart-empty(aria-hidden='true')
          span.badge #{ likes }
        a.btn.btn-default(href='/user/' + user._id, role='button')
          span.glyphicon.glyphicon-user(aria-hidden='true')
        button.btn.btn-default.disabled(type='button')
          span.glyphicon.glyphicon-trash(aria-hidden='true')
    
      .panel.panel-warning
        .panel-heading
          h3.panel-title Biography
          button#btn-edit-bio.btn.btn-warning.btn-xs(type='button')
            span.glyphicon.glyphicon-pencil(aria-hidden='true')
            |  Edit
        .panel-body
          #bio-area-edit.form-group.hidden
            textarea#textarea-bio.form-control(rows='5') #{user.info.biography}
            button#bio-area-button.btn.btn-warning.btn-sm(type='button')
              span.glyphicon.glyphicon-pencil(aria-hidden='true')
              |  Submit my new biography
          span#span-bio #{user.info.biography}

      .panel.panel-warning
        .panel-heading
          h3.panel-title Location
          button#update-location.btn.btn-warning.btn-xs(type='button')
            span.glyphicon.glyphicon-refresh(aria-hidden='true')
            |  Update
        .panel-body
          h5#location
            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
            span#span-location
              if user.location
                if user.location.address
                  | #{user.location.address}
                else
                  | #{user.location.city}, #{user.location.country}
              else
                | No location found, please update...
          img#geo-map.hidden(src='', data-latitude=user.location.latitude, data-longitude=user.location.longitude)


    .col-md-7.details
      .panel.panel-warning
        .panel-heading
          h3.panel-title Details
        .panel-body
          table.table.table-hover
            thead
              tr
                th Popularity
                th#popularity 93%
            tbody
              tr
                th(scope='row') Connected
                td#connected
                  span.glyphicon.glyphicon-remove(aria-hidden='true')
                  |  No
              tr
                th(scope='row') Birthdate
                td #{user.info.birthdate}
              tr
                th(scope='row') Age
                td #{age} years old
              tr
                th(scope='row') Sex
                td
                  span#sex
                    span#span-sex #{user.info.sex}
                    button#edit-sex.btn.btn-warning.btn-xs(type='button')
                      span.glyphicon.glyphicon-pencil(aria-hidden='true')
                      |  Edit
                  form#form-sex.hidden
                    .input-group.input-group-sm
                      span.input-group-addon
                        input.gender-input(type='radio', name='gender', value='Male')
                        | 												Male
                      span.input-group-addon
                        input.gender-input(type='radio', name='gender', value='Female')
                        | 												Female
                      span.input-group-addon
                        input.gender-input(type='radio', name='gender', value='Other')
                        | 												Other
                      span.input-group-btn
                        button#select-sex.btn.btn-warning(type='button') Select
                    // /input-group
              tr
                th(scope='row') Orientation
                td
                  span#orientation
                    span#span-orientation #{user.info.orientation}
                    button#edit-orientation.btn.btn-warning.btn-xs(type='button')
                      span.glyphicon.glyphicon-pencil(aria-hidden='true')
                      |  Edit
                  form#form-orientation.hidden
                    .input-group.input-group-sm
                      span.input-group-addon
                        input.orientation-input(type='radio', name='orientation', value='Bisexual')
                        | 												Bisexual
                      span.input-group-addon
                        input.orientation-input(type='radio', name='orientation', value='Straight')
                        | 												Straight
                      span.input-group-addon
                        input.orientation-input(type='radio', name='orientation', value='Gay')
                        | 												Gay
                      span.input-group-btn
                        button#select-orientation.btn.btn-warning(type='button') Select
                    // /input-group
              tr
                th(scope='row') Interests
                td
                  span#interests
                    each val in user.interests
                      button.btn.btn-warning.btn-xs.btn-tag(type='button')
                        span.glyphicon.glyphicon-tag(aria-hidden='true')
                        span.span-interest #{val}
                  span#add-interest.glyphicon.glyphicon-plus-sign.text-yellow(aria-hidden='true')
                  form#form-interests.hidden
                    .input-group.input-group-sm
                      input.form-control.input-interest(list='list-interests', type='text', placeholder='New interest')
                      datalist#list-interests
                      span.input-group-btn
                        button#new-interest.btn.btn-warning(type='button')
                          span.glyphicon.glyphicon-plus-sign(aria-hidden='true')
                    // /input-group
      
      .panel.panel-warning
        .panel-heading
          h3.panel-title Recently visited
        .panel-body
          .row
            .col-md-4.col-xs-4
              #visit0.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
            .col-md-4.col-xs-4
              #visit1.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
            .col-md-4.col-xs-4
              #visit2.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
      .panel.panel-warning
        .panel-heading
          h3.panel-title Recently liked you
        .panel-body
          .row
            .col-md-4.col-xs-4
              #like0.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
            .col-md-4.col-xs-4
              #like1.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
            .col-md-4.col-xs-4
              #like2.thumbnail.hidden
                a(href='#')
                  .img
                .caption
                  h5
                  p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span.location
      #tab-photos.row.photos-tab.tab-menu.hidden
        .col-md-12
          #panel-photos.panel.panel-warning
            .panel-heading
              h3.panel-title My pictures
            .panel-body
              .row
                each photo, index in user.photos
                  .blk-photo.col-md-4.col-xs-12
                    .thumbnail(id=index)
                      .img(style="background-image : url('" + photo + "');")
                      .caption
                        .btn-group(role='group', aria-label='...')
                          span.btn.btn-warning.btn-sm.btn-file.change-photo
                            span.glyphicon.glyphicon-picture(aria-hidden='true')
                            |  Change
                            input(type='file', data-index=index)
                          button.btn.btn-warning.btn-sm.make-default(data-index=index, type='button')
                            span.glyphicon.glyphicon-user(aria-hidden='true')
                            |  Default
                          button.btn.btn-default.btn-sm.delete-photo(type='button', data-index=index)
                            span.glyphicon.glyphicon-trash(aria-hidden='true')
                            |  Delete

      #tab-report.row.reports-tab.tab-menu.hidden
        .col-md-12
          #panel-reports.panel.panel-warning
            .panel-heading
              h3.panel-title Reported users
            .panel-body
              .row
                each report, index in user.reports
                  .col-md-3atch.col-xs-4
                    .thumbnail(id='report' + index)
                      a(href='#')
                        .img
                      .caption
                        h5 #{report}
                        p
                          span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                          span.location

  script(type='text/javascript', src='/gmaps/gmaps.min.js')
  script(type='text/javascript', src='/js/jquery.geolocation.min.js')
  script(type='text/javascript', src='/js/profile.js')
