extends layout/layout

block content
    .container-fluid.matcha-around
    .well
        .row.filters
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Age range
            input#age(type='text', data-slider-id='age-slider', data-provide='slider', value='', data-slider-min='18', data-slider-max='99', data-slider-step='1', data-slider-value='[18, 99]', data-slider-tooltip_position='bottom')
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Distance from me
            input#distance(type='text', data-slider-id='distance-slider', data-provide='slider', value='', data-slider-min='0', data-slider-max='600', data-slider-step='50', data-slider-value='[0, 600]', data-slider-tooltip_position='bottom')
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Popularity score range
            input#popularity(type='text', data-slider-id='pop-slider', data-provide='slider', value='', data-slider-min='0', data-slider-max='100', data-slider-step='5', data-slider-value='[0, 100]', data-slider-tooltip_position='bottom')
        .row.filters
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Sort by sex
            input#sex(type='text', data-slider-id='sex-slider', data-provide='slider', data-slider-ticks='[1, 2, 3]', data-slider-ticks-labels='["Male", "Female", "Other"]', data-slider-min='1', data-slider-max='3', data-slider-step='1', data-slider-value='1', data-slider-tooltip='hide')
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Sort by orientation
            input#orientation(type='text', data-slider-id='orientation-slider', data-provide='slider', data-slider-ticks='[1, 2, 3]', data-slider-ticks-labels='["Straight", "Bisexual", "Gay"]', data-slider-min='1', data-slider-max='3', data-slider-step='1', data-slider-value='2', data-slider-tooltip='hide')
        .col-md-4.col-xs-12
            .form-group.blk-filters
            span.label-filters Sort by
            input#sort(type='text', data-slider-id='sort-slider', data-provide='slider', data-slider-ticks='[1, 2, 3]', data-slider-ticks-labels='["Age", "Distance", "Popularity"]', data-slider-min='1', data-slider-max='3', data-slider-step='1', data-slider-value='2', data-slider-tooltip='hide')
        .row.filters
        .col-md-12
            center
            span.label-filters All interests tags
            each interest in interests
                button.btn.btn-xs.btn-warning.btn-filters(type='button')
                    span.glyphicon.glyphicon-tag(aria-hidden='true')
                    span.span-interest #{interest}
    .row.profiles-around.sortbyage.hidden
        each user in byAge
            .col-md-3.col-xs-12.div-profil.hidden
                .thumbnail.profil(data-age='#{user.age}', data-sex='#{user.infos.sex}', data-orientation='#{user.infos.orientation}', data-popularity='#{user.popularity}', data-distance='#{user.distance}')
                    a(href='/user/#{user._id}')
                    .img(style="background-image : url('#{user.photo}');")
                    .caption
                    h5
                        span.glyphicon.glyphicon-user(aria-hidden='true')
                        |  #{user.infos.firstname} #{user.infos.lastname}
                    p
                        span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                        |  #{user.location.city}, #{user.location.country}
                    p
                        span.glyphicon.glyphicon-globe(aria-hidden='true')
                        |  About 
                        strong #{user.distance}
                        |  km
                    each interest in interests
                        button.btn.btn-warning.btn-xs.btn-tag(type='button')
                            span.glyphicon.glyphicon-tag(aria-hidden='true')
                            span.span-interest #{interest}
    .row.profiles-around.sortbydistance
        each user in byDistance
            .col-md-3.col-xs-12.div-profil.hidden
            .thumbnail.profil(data-age='#{user.age}', data-sex='#{user.infos.sex}', data-orientation='#{user.infos.orientation}', data-popularity='#{user.popularity}', data-distance='#{user.distance}')
                a(href='/user/#{user._id}')
                .img(style="background-image : url('#{user.photo}');")
                .caption
                h5
                    span.glyphicon.glyphicon-user(aria-hidden='true')
                    |  #{user.infos.firstname} #{user.infos.lastname}
                p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    |  #{user.location.city}, #{user.location.country}
                p
                    span.glyphicon.glyphicon-globe(aria-hidden='true')
                    |  About 
                    strong #{user.distance}
                    |  km
                each interest in interests
                    button.btn.btn-warning.btn-xs.btn-tag(type='button')
                        span.glyphicon.glyphicon-tag(aria-hidden='true')
                        span.span-interest #{interest}

    .row.profiles-around.sortbypopularity.hidden
        each user in byPopularity
            .col-md-3.col-xs-12.div-profil.hidden
            .thumbnail.profil(data-age='#{user.age}', data-sex='#{user.infos.sex}', data-orientation='#{user.infos.orientation}', data-popularity='#{user.popularity}', data-distance='#{user.distance}')
                a(href='/user/#{user._id}')
                .img(style="background-image : url('#{user.photo}');")
                .caption
                h5
                    span.glyphicon.glyphicon-user(aria-hidden='true')
                    |  #{user.infos.firstname} #{user.infos.lastname}
                p
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    |  #{user.location.city}, #{user.location.country}
                p
                    span.glyphicon.glyphicon-globe(aria-hidden='true')
                    |  About 
                    strong #{user.distance}
                    |  km
                each interest in interests
                    button.btn.btn-warning.btn-xs.btn-tag(type='button')
                        span.glyphicon.glyphicon-tag(aria-hidden='true')
                        span.span-interest #{interest}
    script(type='text/javascript', src='/js/search.js')
