extends layout/layout

block content
    .container-fluid.matcha-profile
        .profile-header
            .header-picture(style=`background-image : url(${user.photos.cover});`)
            .profile-picture
            #profile-pic.profile.img-circle(style=`background-image : url(${user.photos.profile});`)
            .main-infos.name
            h2#first-last
                span#user-first #{user.infos.firstname}
                span#user-last #{user.infos.lastname}
            ul.nav.nav-tabs.menu-profile
                li.active(role='presentation')
                    a(href='#About') About
                li(role='presentation')
                    a(href='#Photos') Photos

        #tab-about.row.profile-timeline.tab-menu
            .col-md-5.about-me
            .btn-group.actions(role='group', aria-label='...')
                button#like.btn.btn-default(type='button')
                span.glyphicon.glyphicon-heart-empty(aria-hidden='true')
                span.badge #{ likes }
                a.btn.btn-default.disabled(href=`/user/${user._id}`, role='button')
                span.glyphicon.glyphicon-user(aria-hidden='true')
                button#report.btn.btn-default(type='button')
                span.glyphicon.glyphicon-trash(aria-hidden='true')
            .panel.panel-warning
                .panel-heading
                h3.panel-title Biography
                .panel-body
                span#span-bio #{user.infos.biography}
            .panel.panel-warning
                .panel-heading
                h3.panel-title Location
                .panel-body
                h5#location
                    span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                    span#span-location
                        if user.location
                            if user.location.address
                                | #{user.location.address}
                            else
                                | #{user.location.city}, #{user.locaation.country}
                        else
                            | User did not set hit location yet.
                img#geo-map.hidden(src='', data-latitude=user.location.latitude, data-longitude=user.location.longitude)
            .col-md-7.details
            .panel.panel-warning
                .panel-heading
                h3.panel-title Details
                .panel-body
                table.table.table-hover
                    thead
                    tr
                        th Popularity
                        th#popularity 0%
                    tbody
                    tr
                        th(scope='row') Connected
                        td#connected #{user.last}
                    tr
                        th(scope='row') Birthdate
                        td #{user.infos.birthdate}
                    tr
                        th(scope='row') Age
                        td #{age} years old
                    tr
                        th(scope='row') Sex
                        td
                        span#sex
                            span#span-sex #{user.infos.sex}
                    tr
                        th(scope='row') Orientation
                        td
                        span#orientation
                            span#span-orientation #{user.infos.orientation}
                    tr
                        th(scope='row') Interests
                        td
                        span#interests
                            each interest in user.interests
                                button.btn.btn-warning.btn-xs.btn-tag(type='button')
                                span.glyphicon.glyphicon-tag(aria-hidden='true')
                                span.span-interest #{interest}
                                
            .panel.panel-warning
                .panel-heading
                h3.panel-title Recently visited
                .panel-body
                .row
                    .col-md-4.col-xs-4
                    #visit0.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
                    .col-md-4.col-xs-4
                    #visit1.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
                    .col-md-4.col-xs-4
                    #visit2.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
            .panel.panel-warning
                .panel-heading
                h3.panel-title Recently liked you
                .panel-body
                .row
                    .col-md-4.col-xs-4
                    #like0.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
                    .col-md-4.col-xs-4
                    #like1.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
                    .col-md-4.col-xs-4
                    #like2.thumbnail.hidden
                        a(href='#')
                        .img
                        .caption
                        h5
                        p
                            span.glyphicon.glyphicon-map-marker(aria-hidden='true')
                            span.location
        #tab-photos.row.photos-tab.tab-menu.hidden
            .col-md-12
            #panel-photos.panel.panel-warning
                .panel-heading
                h3.panel-title My pictures
                .panel-body
                .row
                    each photo, index in gallery
                        .blk-photo.col-md-4.col-xs-12
                        .thumbnail(id=index)
                            .img(style=`background-image : url(${photo});`)

    script(type='text/javascript', src='/js/jquery.geolocation.min.js')
    script(type='text/javascript', src='/js/user.js')
